.card {
  padding: 20px;
  display: flex;
  margin-top: 5vh;
  width: 55%;
  background-color:#e4e4e4;
  border-radius: 25px;
  gap: 20px;
  box-sizing: border-box;
  box-shadow: -10px 10px 15px -2px #d8d3d3;
}

.block__img {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: -10px 10px 15px -2px #b6b2b2;
}

.link {
  color: black;
  text-decoration: none;
  display: flex;
  opacity: .7;
  transition: .4s;
}

.link__img {
  width: 20px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url('../../images/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.link__text {
  margin: 0;
  font-size: 20px;
}

.link:hover {
  opacity: 1;
}

.like__buttom {
  padding: 0;
  width: 200px;
  height: 24px;
  border: none;
  background-image: url('../../images/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 24px;
  cursor: pointer;
  transition: .8s;
}

.like__buttom:hover {
  transform: scale(1.2)
}

.like__buttom_active {
  background-image: url('../../images/heart-red.svg')
}

.block__text {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 30px
}

.title {
  margin: 0;
  font-size: 25px;
}

.text {
  margin: 0;
  font-size: 20px;
}


@media screen and (max-width: 1300px) {
  .card {
    flex-direction: column;
    min-width: 250px;
    padding: 10px;
    align-items: center;
  }
  .block__text  {
    margin-top: 0;
    gap: 15px;
  }
  .title {
    font-size: 18px;
  }
  .text {
    font-size: 15px;
  }
  .block__img {
    gap: 10px;
  }
  .link__text {
    font-size: 15px;
  }
  .link__img {
    height: 25px;
    margin-left: 5px;
    background-size: 15px;
  }
}